# playdata_21 (1)

# Jupyter 
* 분석용
* 결과를 바로 확인할 수 있음 (인터액티브)
* Julia, Python, R(통계학자)
* Cell -> m버튼 -> markdown -> 문서 작성 
* Cell -> y버튼 -> Python Cell 변환 
* Cell 실행 방법 
    * Shift + Enter -> 현재 Cell 실행하고 아래로 이동
    * Ctrl + Enter  -> 현재 Cell만 실행 
    * Alt + Enter   -> 현재 Cell 실행하고 아래 새로운 Cell 생성

# 변수

In [48]:
a = 10 
b = 20
a+b

30

* String을 여러줄에 걸쳐 쓸 때는 """ 따옴표 3개로 둘러싼다.

# 회문(回文) 또는 팰린드롬(palindrome)

text  = input("값을 입력")
if text == text[::-1]:
    print("앞에서 읽어도 뒤에서 읽어도 같음")
    print("실행될까요?")
else:
    print("팰린드롬이 아니여")

In [1]:
text  = input("값을 입력")
if text == text[::-1]:
    print("앞에서 읽어도 뒤에서 읽어도 같음")
    print("실행될까요?")
else:
    print("팰린드롬이 아니여")

값을 입력 우영우

앞에서 읽어도 뒤에서 읽어도 같음
실행될까요?

# 정규식, f-string, format
## x = 7
##    print("%d"% x) # 정규식  
##    print(f"{x}") # f-string  
##    print("{}".format(x)) # format

In [61]:
for x in range(5):
    print("%d" % x)

0
1
2
3
4

In [63]:
for x in range(5):
    print(f"{x}")

0
1
2
3
4

In [64]:
for x in range(5):
    print("{}".format(x))

0
1
2
3
4

# Comprehension

* iterable한 오브젝트를 생성하기 위한 방법 중 하나

List Comprehension(LC)

20까지의 짝수를 출력하기 위해 다음과 같은 LC를 사용할 수 있다

In [2]:
evens = [x * 2 for x in range(11)]
# [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [5]:
evens

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

리스트의 모든 원소값을 정규화 시킨 후 상수값을 더하는 LC

In [6]:
vals = [32, 12, 96, 42, 32, 93, 31, 23, 65, 43, 76]
amount = sum(vals)
norm_and_move = [(x / amount) + 1 for x in vals]
# [1.0587155963302752, 1.0220183486238532, ...]

In [7]:
vals

[32, 12, 96, 42, 32, 93, 31, 23, 65, 43, 76]

In [8]:
norm_and_move

[1.0587155963302752,
 1.0220183486238532,
 1.1761467889908257,
 1.0770642201834861,
 1.0587155963302752,
 1.1706422018348623,
 1.0568807339449542,
 1.0422018348623854,
 1.1192660550458715,
 1.0788990825688074,
 1.1394495412844037]

100 이하의 제곱수가 아닌 수를 찾는 LC

In [19]:
from math import sqrt
non_squars = [x for x in range(101) if sqrt(x)**2 != x]
# [2, 3, 5, 6, 7, 8, 10, 12, ...]

In [18]:
non_squars

[2,
 3,
 5,
 6,
 7,
 8,
 10,
 12,
 13,
 15,
 18,
 19,
 20,
 23,
 24,
 26,
 28,
 29,
 31,
 32,
 37,
 38,
 40,
 43,
 45,
 48,
 50,
 51,
 52,
 58,
 59,
 60,
 61,
 63,
 65,
 66,
 72,
 73,
 75,
 76,
 77,
 78,
 80,
 82,
 87,
 89,
 92,
 94,
 95,
 96,
 97]

두 리스트의 원소들의 모든 조합을 찾는 LC

In [20]:
epithets = ['sweet', 'annoying', 'cool', 'grey-eyed']
names = ['john', 'alice', 'james']
epithet_names = [(e, n) for e in epithets for n in names]
# [('sweet', 'john'), ('sweet', 'alice'), ...]

In [21]:
epithets,names

(['sweet', 'annoying', 'cool', 'grey-eyed'], ['john', 'alice', 'james'])

In [23]:
epithet_names

[('sweet', 'john'),
 ('sweet', 'alice'),
 ('sweet', 'james'),
 ('annoying', 'john'),
 ('annoying', 'alice'),
 ('annoying', 'james'),
 ('cool', 'john'),
 ('cool', 'alice'),
 ('cool', 'james'),
 ('grey-eyed', 'john'),
 ('grey-eyed', 'alice'),
 ('grey-eyed', 'james')]

a^2 + b^2 = c^2 (a < b < c)를 만족하는 피타고라스 방정식의 해를 찾는 LC

In [24]:
solutions = [(x, y, z) for x in range(1, 30) for y in range(x, 30) for z in range(y, 30) if x**2 + y**2 == z**2]
# [(3, 4, 5), (5, 12, 13), (6, 8, 10), ...]

In [26]:
solutions

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

단어에서 모음을 제거하는 LC

In [ ]:
word = 'mathematics'
without_vowels = ''.join([c for c in word if c not in ['a', 'e', 'i', 'o', 'u']])
# 'mthmtcs'

행렬을 일차원화 시키는 LC

In [34]:
matrix = [
  [1, 2, 3, 4],
  [5, 6, 7, 8],
  [9, 10, 11, 12],
]
flatten = [e for r in matrix for e in r]
# [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [36]:
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

# Set Comprehension(SC)

* Set Comprehension은 LC와 정확히 동일하며 단지 list가 아닌 set을 생성한다는 것만 다르다.

# Dict Comprehension(DC)

* 이하동문.

# Generator Expression(GE)

* Generator의 경우 comprehension과 형태는 동일하지만 특별히 expression이라고 부른다.  
* 특별한 형태의 comprehension이다. 한 번에 모든 원소를 반환하지 않고 한 번에 하나의 원소만 반환하는 generator를 생성한다.

In [49]:
# 다음 Generator는 제곱수를 만들어낸다
gen = (x**2 for x in range(10))
print(gen)
# <generator object <genexpr> at 0x105bde5c8>
print(next(gen)) # call 1
# 0
print(next(gen)) # call 2
# 1
# 'next' 함수 호출을 10번 반복
print(next(gen)) # call 10
# 81
print(next(gen)) # call 11
"""
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
StopIteration
"""

<generator object <genexpr> at 0x000001263DAAA350>
0
1
4
9

'\nTraceback (most recent call last):\n  File "<stdin>", line 1, in <module>\nStopIteration\n'

In [50]:
# Yes, it is an just generator. You can sum the yielding values.
# GE로 생성한 Generator도 yield를 가진 함수로 생성한 것과 동일한 Generator이기 때문에, 똑같이 sum을 사용할 수 있다. (iterable 객체)
gen = (x**2 for x in range(10))
sum_of_squares = sum(gen)
# 285

출처 : https://mingrammer.com/introduce-comprehension-of-python/

# Iterator와 Generator

출처 : https://mingrammer.com/translation-iterators-vs-generators/

In [51]:
for x in range(2, 10):
    if x % 2 == 0 or x % 3 == 0:
        for y in range(1, 10):
            print("{} x {} = {}".format(x, y, x*y))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [52]:
for _ in range(1800, 2200) :
    if (_ % 100 != 0 or _ % 400 == 0) and _ % 4 == 0:
        print(_)

1804
1808
1812
1816
1820
1824
1828
1832
1836
1840
1844
1848
1852
1856
1860
1864
1868
1872
1876
1880
1884
1888
1892
1896
1904
1908
1912
1916
1920
1924
1928
1932
1936
1940
1944
1948
1952
1956
1960
1964
1968
1972
1976
1980
1984
1988
1992
1996
2000
2004
2008
2012
2016
2020
2024
2028
2032
2036
2040
2044
2048
2052
2056
2060
2064
2068
2072
2076
2080
2084
2088
2092
2096
2104
2108
2112
2116
2120
2124
2128
2132
2136
2140
2144
2148
2152
2156
2160
2164
2168
2172
2176
2180
2184
2188
2192
2196

In [53]:
list = []
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [54]:
import requests

url= 'https://www.starbucks.co.kr/store/getStore.do?r=804IUG79N7'

payload = {
    'in_biz_cds' : '0',
    'in_scodes' : '0',
    'ins_lat' : '37.5627128',
    'ins_lng' : '126.93279869999999',
    'search_text' : '',
    'p_sido_cd' : '01',
    'p_gugun_cd' : '',
    'in_distance' : '0',
    'in_biz_cd' : '',
    'isError' : 'true',
    'searchType' : 'C',
    'set_date' : '',
    'all_store' : '0',
    'T03' : '0',
    'T01' : '0',
    'T12' : '0',
    'T09' : '0',
    'T30' : '0',
    'T05' : '0',
    'T22' : '0',
    'T21' : '0',
    'T10' : '0',
    'T36' : '0',
    'P10' : '0',
    'P50' : '0',
    'P20' : '0',
    'P60' : '0',
    'P30' : '0',
    'P70' : '0',
    'P40' : '0',
    'P80' : '0',
    'whcroad_yn' : '0',
    'P90' : '0',
    'new_bool' : '0',
    'iend' : '1000',
    'rndCod' : 'V8UNZFKU44',}

# 문제)서울에 있는 스타벅스 리저브 매장을 찾아보세요

In [55]:
r = requests.post(url, data=payload)
for _ in r.json()['list']:
    # f-string 기법
    if _['s_name'][-1] == 'R':
        # ljust, rjust는 문자열 길이를 바꾸고 공백으로 채움
        print(f"{_['s_name'].ljust(14)}\t {_['addr']}입니다.")

대치재경빌딩R       	 서울특별시 강남구 대치동 599 대원빌딩입니다.
삼성역섬유센터R      	 서울특별시 강남구 대치동 944-31 한국섬유산업연합회입니다.
압구정R          	 서울특별시 강남구 신사동 621-1입니다.
수서역R          	 서울특별시 강남구 수서동 715 수서빌딩입니다.
양재강남빌딩R       	 서울특별시 강남구 도곡동 956 LG전자 강남R&D센터입니다.
선릉동신빌딩R       	 서울특별시 강남구 삼성동 141-28 동신빌딩입니다.
스타필드코엑스몰R     	 서울특별시 강남구 삼성동 159 코엑스  A106호입니다.
강남R           	 서울특별시 강남구 역삼동 825 미진프라자 1층 101호입니다.
청담스타R         	 서울특별시 강남구 청담동 89-4입니다.
SSG마켓도곡R      	 서울특별시 강남구 도곡동 467-17 타워팰리스Ⅱ F 지하1층입니다.
센터필드R         	 서울특별시 강남구 역삼동 676 센터필드입니다.
마곡사이언스타워R     	 서울특별시 강서구 마곡동 796-3 마곡사이언스타워입니다.
관악서울대입구R      	 서울특별시 관악구 봉천동 856-6 BS타워입니다.
보라매공원R        	 서울특별시 동작구 신대방동 395-65 파크스퀘어,보라매현대APT입니다.
홍대입구역사거리R     	 서울특별시 마포구 서교동 353-5 경남관광빌딩입니다.
합정폴리스R        	 서울특별시 마포구 서교동 490 메세나폴리스 B189~193입니다.
이대R           	 서울특별시 서대문구 대현동 54-4입니다.
강남교보타워R       	 서울특별시 서초구 서초동 1303-22 교보타워입니다.
강남대로논현R       	 서울특별시 서초구 반포동 736-2 대유빌딩입니다.
파미에파크R        	 서울특별시 서초구 반포동 118-3 센트럴시티 파미에파크돔 BP4-9호입니다.
문정법원로R        	 서울특별시 송파구 문정동 642 송파 테라타워2입니다.
잠실대교남단R       	 서울특별시 송파구 신천동 7-30 타워730 1층입니다.
타임스퀘어R        	 서울특별시 영등포구 영등포동4가 442 타임스퀘어입니다.
여의도IFC몰(L1)R  	 서울특별시 영등포구 여의도동 23 서울 국제금융 센터 지하1층 178호입니다.
여의도KBS R      	 서울특별시 영등포구 여의도동 17-9입니다.
여의도공원R        	 서울특별시 영등포구 여의도동 12 C.C.M.M빌딩입니다.
여의도역R         	 서울특별시 영등포구 여의도동 23-6   1층입니다.
더현대서울(B2)R    	 서울특별시 영등포구 여의도동 22 파크원입니다.
더종로R          	 서울특별시 종로구 종로2가 6 종로타워입니다.
정부서울청사R       	 서울특별시 종로구 적선동 156 광화문플래티넘입니다.
대한상공회의소R      	 서울특별시 중구 남대문로4가 45 대한서울상공회의소 1층입니다.
을지로내외빌딩R      	 서울특별시 중구 을지로2가 6 내외빌딩입니다.
레스케이프호텔R      	 서울특별시 중구 회현동1가 210입니다.
한강진역R         	 서울특별시 용산구 한남동 683-139입니다.
용산역써밋R        	 서울특별시 용산구 한강로2가 391 용산푸르지오써밋입니다.
한남동R          	 서울특별시 용산구 한남동 36-7  1층 ~ 2층입니다.

# 금천구에 있는 스타벅스 매장들을 찾아보세요

In [58]:
import unicodedata

def fill_str_with_space(input_s = "", max_size=40, fill_char=" "):
    """
    - 길이가 긴 문자는 2칸으로 체크하고, 짧으면 1칸으로 체크함. 
    - 최대 길이(max_size)는 40이며, input_s의 실제 길이가 이보다 짧으면 
    남은 문자를 fill_char로 채운다.
    """
    l = 0 
    for c in input_s:
        if unicodedata.east_asian_width(c) in ['F', 'W']:
            l+=2
        else: 
            l+=1
    return input_s+fill_char*(max_size-l)

r = requests.post(url, data=payload)
for _ in r.json()['list']:
    # f-string 기법
    if '금천구' in _['addr']:
        print(f"{fill_str_with_space(_['s_name'], max_size = 20)}{_['addr']}입니다.")

금천구청역          서울특별시 금천구 시흥동 1031 엠메디컬타워 112,113,114,115호입니다.
가산에스케이        서울특별시 금천구 가산동 371-41 가산 에스케이 브이원 센터입니다.
독산사거리          서울특별시 금천구 독산동 159-23 영진빌딩입니다.
금천시흥            서울특별시 금천구 시흥동 904-22 더플레이스입니다.
가산디지털단지역    서울특별시 금천구 가산동 50-3 대륭포스트타워6차입니다.
금천독산            서울특별시 금천구 독산동 291-1입니다.
가산디지털          서울특별시 금천구 가산동 371-28입니다.
W-Mall              서울특별시 금천구 가산동 60-27 W-MALL내 지하1층입니다.
마리오아울렛        서울특별시 금천구 가산동 60-20 ㈜마리오 3관1층입니다.
가산브이타워        서울특별시 금천구 가산동 V-TOWER 371-37입니다.
가산그레이트        서울특별시 금천구 가산동 60-5 갑을그레이트벨리 1층입니다.
독산역              서울특별시 금천구 가산동 673, 107-2, 108, 109호입니다.
가산현대아울렛      서울특별시 금천구 가산동 60-8 현대시티아울렛 가산점, 1층 일부입니다.

# 스타벅스 중에 가장 오래된 매장을 찾아보세요

In [59]:
date_list = []
for _ in r.json()['list']:
    date_list.append(_['open_dt'])
date_list.sort()
print(date_list[0])

19990727

lambda를 이용한 함수

In [60]:
print(sorted(r.json()['list'], key = lambda item: item['open_dt'])[0]['open_dt'])
# dictionary 정렬 : https://codechacha.com/ko/python-sorting-dict/
# sort vs sorted : https://codinglevelup.tistory.com/85

19990727