# 03 python

[문제1] 13 + (22 - 3) × 4 의 결과를 구해보세요.

a = 13 + (22 -3) *4  
print(a)

In [4]:
a = 13 + (22 -3) *4
print(a)

89

[문제2] 13 + ((22 - 3) × 4) ÷ 5 의 결과를 구해보세요.

b = 13 +((22-3) *4)/5  
print(b)

In [6]:
b = 13 +((22-3) *4)/5
print(b)

28.2

[문제3] 국립환경과학원에서는 아파트에서 소음이 가장 심한 층수를 구하는 계산식을 
발표했습니다. 소음이 가장 심한 층은 0.2467 × 도로와의 거리(m) + 4.159 입니다. 이때 
소음이 가장 심한 층수를 구해보세요.(단 층수는 정수로 표기 하세요.)
- 도로와의 거리 12m

print(int(0.2467*12+4.159))

In [1]:
print(int(0.2467*12+4.159))

7

[문제 3-1]  
앞선 문제의 결과를 아래와 같이 출력하고자 합니다.  
실행 결과:   
가장 시끄러운 층은 = 7 층

print("가장 시끄러운 층은 =", int(0.2467*12+4.159),"층")

In [6]:
print("가장 시끄러운 층은 =", int(0.2467*12+4.159),"층")

가장 시끄러운 층은 = 7 층

[문제4] 헬로우마트에서 냉장고를 월 53,000원에 무이자 24개월 할부 조건으로 판매하고 
있습니다.  
냉장고의 총 금액을 아래와 같이 출력해보세요.  
실행 결과: 
냉장고 가격은 1272000 원 입니다.

print("냉장고 가격은", int(53000*24), "원 입니다.")

In [7]:
print("냉장고 가격은", int(53000*24), "원 입니다.")

냉장고 가격은 1272000 원 입니다.

refrig_price = 53000*24
print("냉장고 가격은", refrig_price,"원 입니다.")

In [9]:
refrig_price = 53000*24
print("냉장고 가격은", refrig_price,"원 입니다.")

냉장고 가격은 1272000 원 입니다.