In [1]:
import pandas as pd
import numpy as np

In [6]:
np.random.seed(0)

dates = pd.date_range('20230101', periods=6)
df = pd.DataFrame(np.random. randn(6,4), index=dates, columns=list('ABCD'))

df

                   A         B         C         D
2023-01-01  1.764052  0.400157  0.978738  2.240893
2023-01-02  1.867558 -0.977278  0.950088 -0.151357
2023-01-03 -0.103219  0.410599  0.144044  1.454274
2023-01-04  0.761038  0.121675  0.443863  0.333674
2023-01-05  1.494079 -0.205158  0.313068 -0.854096
2023-01-06 -2.552990  0.653619  0.864436 -0.742165

위 표를 보고 
1월 3일과 4일의 정보만 표시하시오.

위 표를 보고